@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
.body{
  height: 100vh;
  background-color:#f1eeee;
}
::-webkit-scrollbar {
  width: 0px;
  visibility: hidden !important;
}
::-webkit-scrollbar-thumb {
  background: #0858f7;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
* {
  overflow: auto;
}

*:hover::-webkit-scrollbar {
  width: 3px !important;
}

header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .logo {
  text-decoration: none;
}
header .logo img {
  width: 50px;
}
header .row {
  margin: 0px !important;
}
header .logo span {
  color: #1a1a1a;
  font-size: 25px;
  font-weight: bold;
}
header button.rounded-circle {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929;
  margin: 0px 10px;
}
header button.rounded-circle svg {
  color: #292929;
  font-size: 18px !important;
}
header button.rounded-circle:hover svg {
  color: #0858f7 !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.searchbox {
  width: 400px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 3px 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.searchbox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding: 5px 10px;
  font-size: 15px;
  color: #292929;
}
.searchbox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.searchbox svg {
  font-size: 18px;
  color: #292929;
}

.myacc .userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 45px;
  height: 45px;
  border: 1px solid #0858f7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.myacc .userImg .rounded-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.myacc .userImg .rounded-circle img {
  object-fit: cover;
  width: 180%;
}

/* #notifications .MuiPaper-elevation {
  right: 100 !important;
  top: auto !important;
  width: 300px;
} */

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar {
  width: 20%;
  height: 100vh;
  max-height: calc(100%-80px);
  position: fixed;
  top: 80px;
  left: 0px;
  background-color: #fff;
  overflow-y: scroll;
  padding-bottom: 70px;
}
.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px;
}
.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}
.main .sidebarWrapper .sidebar ul li button {
  color: #5e5d72;
  text-align: left;
  justify-content: left;
  padding: 12px 10px !important;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;

}

/* .main .sidebarWrapper .sidebar ::-webkit-scrollbar {
  width: 2px !important;
}
.main .sidebarWrapper .sidebar ::-webkit-scrollbar-thumb {
  background: transparent !important;
} */


.main .sidebarWrapper .sidebar ul li button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg {
  color: #000;
  opacity: 0.8;
  font-size: 22px;
}

.main .sidebarWrapper .sidebar ul li button .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.main .sidebarWrapper .sidebar ul li button:hover {
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.main .sidebarWrapper .sidebar ul .sub-menu{
  padding-left: 35px;
  position: relative;
}
.main .sidebarWrapper .sidebar ul .sub-menu::before{
  content:'' ;
  width: 1px;
  height: 95%;
  position: absolute;
  top: 0;
  left: 25;
  background: rgba(0, 0, 0, 0.2);
}
.main .sidebarWrapper .sidebar ul li button.active{background: #f1f1f1 !important;}

.main .sidebarWrapper .sidebar ul li button.active .arrow{ transform:rotate(90deg) ; -webkit-transform:rotate(90deg) ; -moz-transform:rotate(90deg) ; -ms-transform:rotate(90deg) ; -o-transform:rotate(90deg) ; }

.main .sidebarWrapper .sidebar ul .sub-menu li{
  width: 100%;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 25px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main .sidebarWrapper .sidebar ul .sub-menu li a:hover{
  color: #0858f7;
}
.main .sidebarWrapper .sidebar ul .sub-menu li a{
color: #5e5d72;
text-decoration: none;
}
.main .sidebarWrapper .sidebar ul .submenu-wrapper{
  overflow: hidden;
  height: 0px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.main .sidebarWrapper .sidebar ul .submenu-wrapper.closeMenu .sub-menu{
  opacity: 0;
}
.main .sidebarWrapper .sidebar ul .submenu-wrapper.openMenu{
  height: auto;
  overflow: inherit;
}
.main .sidebarWrapper .sidebar ul .submenu-wrapper.openMenu .sub-menu{
  opacity: 1;height: auto;
}
.logoutWrapper{
  padding: 0px 25px;
  margin-bottom: 20px;
}
.logoutWrapper .logoutBox{
   height: 100px; 
  width: 100%;
   background-color:#bcd2fd ;
    padding: 25px; border-radius: 10px; 
    -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoutWrapper .logoutBox button{
  font-size: 14px !important;
  font-weight: 600 !important;
}
.logoutWrapper .logoutBox button svg{
  margin-right: 10px;
  font-size: 18px;
}

.main .content{
  width: 80%;
  flex: 0 0 80%;

}
.right-content{
  padding: 90px 30px;
}
#content{
  width: 80%;
  flex: 0 0 0 80%;
}
.dashboardWrapper{
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
}
.dashboardWrapper .dashboardBox{
width: 45%;
height: 200px;
background-color: #ccc;
}